---
name: Pull Request

on:
  pull_request:
    branches:
      - main

concurrency:
  group: pr-pipeline
  cancel-in-progress: false

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/_lint.yml

  build:
    name: Build
    uses: ./.github/workflows/_build.yml
    needs: lint

  status-check:
    name: Status Check
    runs-on: ubuntu-latest
    needs: [lint, build]
    if: always()
    defaults:
      run:
        working-directory: .
    steps:
      - name: Check all jobs passed
        if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        run: exit 1
